body {
    font-family: 'ADLaM Display';
    background-image: url(Images/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
}


/*Top bars */
#Topbar
{
    background-color: rgb(151, 157, 230);
    width: 100%;
    height: 50px;
   display: flex;
    padding-bottom: 20px;
}

#logo
{
    padding-top: 1%;
    padding-left: 1%;
}

  #searchBar {
    display: flex;
    align-items: center;
    flex: 1;
    padding-top: 15px; 
    padding-left: 7px;
   padding-right: 1em;

  }

  #search {
    flex: 1; /* input takes all available space */
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 5px;

  }

  #searchBtn button {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
      border-radius: 5px;
  }

  #searchIcon
  {
    background-color: rgb(235, 210, 103);
  }

#searchIcon:hover { background-color: rgb(189, 164, 54); }



/*navigation bar */

.navbar
{
   margin-top: 12px;
   
   display: flex;
   gap: 40px;
   font-size: 25px;
}

/* catergories */

#cato
{
    text-align: center;
  
}

.iteamcards .Electronics ,.categories
{
  display: flex;
  margin-top: 2%;
  margin-left: 5%;
  gap: 50px;
  cursor: pointer;
  margin-left: 20%;
}

.categories :hover img 
{
transform: scale(1.20);
}



.categories img {
  width: 100%;
  max-width: 200px;  /* prevents it from getting too large */
  height: auto;
  object-fit: contain;
  border-radius: 15%;
}

/* Top Picks */
.topPicks {
  width: 60%;
  height: 300px;
  background-color: rgb(255, 255, 255);
  margin: 5% auto;     
  text-align: left;    
  padding: 10px;   
  overflow: auto;
   
}

#picks {
  margin: 0;
  padding: 0;
  
}

.iteams
{
 margin-top: 20px;  
cursor: pointer;

   
}



